.gridC-span3 { grid-column: span 3; }
.gridC-span4 { grid-column: span 4; }
.gridC-span5 { grid-column: span 5; }
.gridC-span6 { grid-column: span 6; }
.gridC-span7 { grid-column: span 7; }

.gridR-span2 { grid-row: span 2; }

.invalid-cell {
    border-color: red;
    color: red;
}
.invalid-cell select {
    border-color: red;
    color: red;
}

option {
    color: black;
}

.grid { display: grid; }
.flex { display: flex; }
.none { display: none; }
.hidden { visibility: hidden; }
.block { display: block; }
.align-items-start { align-items: flex-start; }
.align-content-start { align-content: flex-start; }
.justify-start { justify-items: flex-start; }
.align-self-start { align-self: flex-start; }
.justify-self-start { justify-self: flex-start; }

.gapC-5 { gap: 5px; }