.gridC-span3 { grid-column: span 3; }
.gridC-span4 { grid-column: span 4; }

.invalid-cell {
    border-color: red;
    color: red;
}
.invalid-cell select {
    border-color: red;
    color: red;
}

option {
    color: black;
}