@import url('auxTail.css');

* { 
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    resize: vertical;
}

.cofd-sheet { 
    /* width: 80%; */
    transform: scale(0.95);
}
.cofd-sheet input[type=radio] { width: .8rem; }

#sheet-upload { display: none; }

/* Características */
.health-block {
    max-height: 20px;
    max-width: 20px;
}

/* ***************************** */
/* ***** Blocos ***** */
/* ***************************** */
.attr-block, .skills-block {
    white-space: nowrap;
}

/* ***************************** */
/* Cabeçalho */
/* ***************************** */
.char-info {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-areas:  
        'nameChar trait1 charType1'
        'namePlayer trait2 charType2'
        'chronicle concept trait3';
    column-gap: 1%;
}
.char-info-item {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

#char-name      { grid-area: nameChar; }
#char-player    { grid-area: namePlayer; }
#char-chronicle { grid-area: chronicle; }
#char-concept   { grid-area: concept; }
.char-type1     { grid-area: charType1; }
.char-type2     { grid-area: charType2; }
.char-trait1    { grid-area: trait1; }
.char-trait2    { grid-area: trait2; }
.char-trait3    { grid-area: trait3; }

#supernatural-header { padding: 1% 0; }

/* ***************************** */
/* Atributos */
/* ***************************** */
.cofd-attributes header {
    font-weight: bold;
    text-align: center;
    grid-column: span 4;
}
.cofd-attributes { 
    display: grid;
    grid-template-columns: 10% repeat(3, 30%);
}

.attr-types { display: grid; }

.attr-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
    padding: .25rem;
}

/* ***************************** */
/* Habilidades */
/* ***************************** */
.cofd-skills {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
}
.cofd-skills header {
    text-align: center;
    display: grid;
}

.skills-block {
    display: grid;
    grid-template-columns: 40% 60%;
}

/* ********************************************************** */
/* Seção com Moralidade, Condições/Estados e Aspirações */
/* ********************************************************** */
#cofd-morality-states-aspirations {
    display: flex;
    column-gap: 10%;
}

/* ***************************** */
/* Moralidade */
/* ***************************** */
#cofd-character-morality {
    display: block;
    text-align: center;
    width: 20%;
}
.morality-block {
    display: grid;
    grid-template-columns: 20% 70% 10%;
}
.morality-block input[type=text] {
    border-color: transparent transparent grey transparent;
    border-width: 1px;
}

/* ***************************** */
/* Condições */
/* ***************************** */
#cofd-character-conditions {
    display: block;
}
.conditions-block {
    display: flex;
    align-items: space-evenly;
}

/* ***************************** */
/* Vantagens */
/* ***************************** */
.cofd-advantages {
    display: grid;
    width: 40%;
}
.trait-block, .merit-block {
    display: grid;
    /* Overt Name Rank Del */
    /* Description */
    grid-template-columns: 5% 30% 30% 5%;
    width: 100%;
}
.trait-block textarea, .merit-block textarea {
    min-width: 400px;
    width: 100%;
    max-width: 100%;
    resize: vertical;
}

/* ******************************* */
/* Equipamentos */
/* ******************************* */
/* #cofd-character-equipment {} */
/* #equipment-weapons {} */
/* #equipment-armor {} */
.equip-weapon {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(5, 20%);
    justify-items: flex-start;
    column-gap: 5%;
}
.equip-weapon button { width: fit-content; }
.equip-weapon input[type=number] {
    text-align: center;
    width: 2.5rem;
}
.equip-weapon textarea {
    min-width: 80%;
    height: 3rem;
}

#equipment-footer {
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

/* ******************************* */
/* Blocos de texto */
/* ******************************* */
.cofd-large-textarea {
    height: calc(1rem * 4);
    width: calc(1rem * 25);
}

#cofd-character-story {
    height: calc(1rem * 8);
}

/* ******************************* */
/* Vampiro */
/* ******************************* */
#vampire-section {
    display: grid;
    grid-template-areas: 'disciplines disciplines' 
    'bloodPotency vitae';
}
#vampire-section input  { accent-color: red; }
#vampire-disciplines    { grid-area: disciplines; }
#vampire-bloodPotency   { 
    display: block; 
    grid-area: bloodPotency;
}

#vampire-vitae {
    display: grid;
    grid-area: vitae;
    grid-template-columns: repeat(10, 10%);
    max-width: 60%;
}
#vampire-vitae header { grid-column: span 10; }
#vampire-vitae input[type=checkbox] {
    height: 90%;
}