@import url('auxTail.css');

* { 
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    resize: vertical;
}

/* Total do corpo. */
#body_block {
    display: grid;
    grid-template-columns: 15% 85%;
}

/* ************************* */
/* Menu lateral */
/* ************************* */
#side_menu {
    display: block;
    /* align-items: flex-start; */
    height: 90vh;
    position: sticky;
    top: 50px;
}
#side_menu button {
    /* height: fit-content; */
    width: 100%;
}


.cofd-sheet { 
    /* transform: scale(0.95); */
    padding: 1%;
}
.cofd-sheet input[type=radio] { width: .8rem; }

#sheet-upload { display: none; }

/* Características */
.health-block {
    max-height: 20px;
    max-width: 20px;
}

/* ***************************** */
/* ***** Blocos ***** */
/* ***************************** */
.attr-block, .skills-block {
    white-space: nowrap;
}

/* ***************************** */
/* Cabeçalho */
/* ***************************** */
.char-info {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-areas:  
        'nameChar trait1 charType1'
        'namePlayer trait2 charType2'
        'chronicle concept trait3';
    column-gap: 1%;
}
.char-info-item {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

#char-name      { grid-area: nameChar; }
#char-player    { grid-area: namePlayer; }
#char-chronicle { grid-area: chronicle; }
#char-concept   { grid-area: concept; }
.char-type1     { grid-area: charType1; }
.char-type2     { grid-area: charType2; }
.char-trait1    { grid-area: trait1; }
.char-trait2    { grid-area: trait2; }
.char-trait3    { grid-area: trait3; }

#supernatural-header { padding: 1% 0; }

/* ***************************** */
/* Atributos */
/* ***************************** */
.cofd-attributes header {
    font-weight: bold;
    text-align: center;
    grid-column: span 4;
}
.cofd-attributes { 
    display: grid;
    grid-template-columns: 10% repeat(3, 30%);
}

.attr-types { display: grid; }

.attr-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
    padding: .25rem;
}

/* ***************************** */
/* Habilidades */
/* ***************************** */
.cofd-skills {
    /* width: 40%; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
}
.cofd-skills header {
    text-align: center;
    display: grid;
}

.skills-block {
    display: grid;
    grid-template-columns: 40% 60%;
}

/* ***************************** */
/* Características Especiais */
/* ***************************** */
#cofd-otherTraits {
    display: flex; 
    margin-top: 10px; 
    gap: 5px;
}

#cofd-otherTraits span {
    font-weight: bold;
}

#char-size { 
    width: calc(2 * 1rem);
    text-align: center;
    height: fit-content;
    border: none;
    border-bottom: 1px solid grey;
}

/* ********************************************************** */
/* Seção com Moralidade, Condições/Estados e Aspirações */
/* ********************************************************** */
#cofd-morality-states-aspirations {
    display: flex;
    column-gap: 10%;
}

/* ***************************** */
/* Moralidade */
/* ***************************** */
#cofd-character-morality {
    display: block;
    text-align: center;
    width: 20%;
}
.morality-block {
    display: grid;
    grid-template-columns: 20% 70% 10%;
}
.morality-block input[type=text] {
    border-color: transparent transparent grey transparent;
    border-width: 1px;
}

/* ***************************** */
/* Condições */
/* ***************************** */
#cofd-character-conditions {
    display: block;
}
.conditions-block {
    display: flex;
    align-items: space-evenly;
}

/* ***************************** */
/* Vantagens */
/* Características Gerais */
/* ***************************** */
.cofd-advantages {
    display: grid;
    width: 40%;
}

.trait-block, .merit-block {
    display: grid;
    /* Overt Name Rank Del Selection */
    /* Description */
    grid-template-columns: 2% 40% 40% 5% 10%;
    width: 100%;
    padding: 1%;
}
.trait-block textarea, .merit-block textarea {
    min-width: 400px;
    width: 100%;
    max-width: 100%;
    resize: vertical;
    grid-column: 1 / -2;
}

.trait-select-block {
    grid-row: span 2;
    display: grid;
    align-content: center;
    justify-content: center;
}

/* *************************** */
/* Características sem Nível. */
/* *************************** */
.rankless-trait-block {
    display: grid;
    /* Overt Name Rank Del Selection */
    /* Description */
    grid-template-columns: 70% 10% 20%;
    width: 80%;
    padding: 1%;
}
.rankless-trait-block textarea {
    min-width: 400px;
    width: 100%;
    max-width: 100%;
    resize: vertical;
    /* grid-column: 2; */
}

/* *************************** */
/* Bloco de NPCs. */
/* *************************** */
.npc-character-block {
    display: grid;
    /* Name Portrait Del */
    /* Description */
    grid-template-columns: 40% auto 1%;
    justify-content: flex-start;
    padding: 1%;
}

.npc-character-block button {
    width: fit-content;
    height: fit-content;
}
.npc-character-block textarea {
    /* min-width: 400px; */
    min-height: 100px;
    width: 100%;
    max-width: 100%;
    resize: vertical;
    /* grid-column: 2; */
}

.character-img-placeholder {
    height: 150px;
    width: 150px;
    background-color: aqua;
}
.npc-character-block img {
    height: 150px;
    width: 150px;
}

/* ******************************* */
/* Equipamentos */
/* ******************************* */
/* #cofd-character-equipment {} */
/* #equipment-weapons {} */
/* #equipment-armor {} */
.equip-block {
    display: grid;
    width: 80%;
    /* column-gap: 5%; */
    justify-items: flex-start;
}
.equip-block button { 
    width: fit-content; 
    align-self: flex-end;
    justify-self: flex-end;
}
.equip-block input[type=number] {
    text-align: center;
    width: 2.5rem;
}
.equip-block textarea {
    min-width: 80%;
    height: 3rem;
}

.equip-weapon { grid-template-columns: repeat(5, 20%); }

.equip-armor { grid-template-columns: repeat(4, 25%); }

.equip-generic { grid-template-columns: repeat(2, 50%); }
.equip-generic input[type=text] { width: 80%; }

#equipment-footer {
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

/* ******************************* */
/* Blocos de texto */
/* ******************************* */
.cofd-large-textarea {
    height: calc(1rem * 4);
    width: calc(1rem * 25);
}

#cofd-character-story {
    height: calc(1rem * 8);
}

/* ******************************* */
/* Vampiro */
/* ******************************* */
#vampire-section {
    display: grid;
    grid-template-areas: 'disciplines disciplines' 
    'bloodPotency vitae';
}
#vampire-section input  { accent-color: red; }
#vampire-disciplines    { grid-area: disciplines; }
#vampire-bloodPotency   { 
    display: block; 
    grid-area: bloodPotency;
}

#vampire-vitae {
    display: grid;
    grid-area: vitae;
    grid-template-columns: repeat(10, 10%);
    max-width: 60%;
}
#vampire-vitae header { grid-column: span 10; }
#vampire-vitae input[type=checkbox] {
    height: 90%;
}

@media only screen and (max-width: 600px) {
    .cofd-attributes, .cofd-skills { 
        display: flex;
        flex-direction: column;
    }
}