@import url('auxTail.css');

* { 
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.cofd-sheet { 
    /* width: 80%; */
    transform: scale(0.95);
}
.cofd-sheet input[type=radio] { width: .8rem; }

#sheet-upload { display: none; }

/* ***************************** */
/* ***** Blocos ***** */
/* ***************************** */
.attr-block, .skills-block {
    white-space: nowrap;
}

/* ***************************** */
/* Cabeçalho */
/* ***************************** */
.char-info {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    column-gap: 1%;
}
.char-info-item {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

#supernatural-header {
    padding: 1% 0;
}

/* ***************************** */
/* Atributos */
/* ***************************** */
.cofd-attributes header {
    font-weight: bold;
    text-align: center;
    grid-column: span 4;
}
.cofd-attributes { 
    display: grid;
    grid-template-columns: 10% repeat(3, 30%);
}

.attr-types { display: grid; }

.attr-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
    padding: .25rem;
}

/* ***************************** */
/* Habilidades */
/* ***************************** */
.cofd-skills {
    width: 40%;
    display: grid;
}

.skills-block {
    display: grid;
    grid-template-columns: 30% 60%;
}

/* ***************************** */
/* Vantagens */
/* ***************************** */
.cofd-advantages {
    display: grid;
    width: 40%;
}
.adv-block {
    display: grid;
    /* Overt Name Rank Del */
    /* Description */
    grid-template-columns: 5% 30% 30% 5%;
    width: 100%;
}
.adv-block textarea {
    min-width: 400px;
    width: 100%;
    max-width: 100%;
    resize: vertical;
}